<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <div class="container">
 <a class="navbar-brand" href="/">Sakila</a>
 <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
data-bs-target="#nav" aria-controls="nav" aria-expanded="false" arialabel="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="nav">
 <ul class="navbar-nav me-auto">
 <li class="nav-item"><a class="nav-link" href="/films">Films</a></li>
 </ul>
 </div>
 </div>
</nav>
